

    <!-- footer -->
    <table
      class="footer"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="max-width: 900px;"
    >
      <tbody>
        <tr>
          <td align="center">
            <a href="https://fymoapp.com/" target="_blank"
              ><img
                src="http://d3j88xbbf75dcz.cloudfront.net/email_assets/fymo.png" height="35" /></a
            ><br />

            APCA House, Baidyakhana Road, Anamnagar Kathmandu, Nepal <br />
            <a href="tel:977014770190" style="color: #ffffff;">+977-01-4770190</a> |
            <a href="mailto:hello@fymoapp.com" style="color: #ffffff;">hello@fymoapp.com</a>
            <br /><br />
            <a href="https://www.facebook.com/FymoOfficial/" target="_blank" style="color: #ffffff;" 
              ><img
                src="http://d3j88xbbf75dcz.cloudfront.net/email_assets/facebook.png"
                style="display: inline-block !important"
              />
              Facebook</a
            >
            &nbsp; &nbsp;
            <img
              src="http://d3j88xbbf75dcz.cloudfront.net/email_assets/twitter.png"
              style="display: inline-block !important"
            />
            Twitter &nbsp; &nbsp;
            <a href="https://www.instagram.com/fymo_official/" target="_blank" style="color: #ffffff;"
              ><img
                src="http://d3j88xbbf75dcz.cloudfront.net/email_assets/instagram.png"
                style="display: inline-block !important"
              />
              Instagram</a
            >
            &nbsp; &nbsp;

            <br><br>
            <a href="#" style="font-size: 11px; color: #ffffff;">Unsubscribe me from this list</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
